


body {
    background-color: aqua;
} 

header {
    background-color: rgb(44,63,79);
    min-height: 100px;
}

.jumbo { 
    background-color: rgb(25,188,155);
    min-height: 100px;
}

main {
    background-color: rgb(188, 60, 25);
    min-height: 300px;
}

.row {
    background-color: chartreuse;
    }

[class^="col"] {
    background-color: gold;
    border: 1px dashed red;
    }



