
img {max-width: 100%;
    border-radius: 10px;}

ul {
    list-style-type: none; 
}

i {
    font-size: 20px;
}

body {
    background-color: aqua;
} 

header {
    background-color: rgb(44,63,79);
    min-height: 100px;
    padding: 30px;
}

header li {
    margin-left:10px;
    display: block;
    margin-top: 5px;
    font-size: 14px;
    
}

header i {
    font-size: 30px;
}

.jumbo { 
    background-color: rgb(25,188,155);
    min-height: 100px;
    padding: 30px;
}

h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.linea {
    height: 2px;
    background-color: white;
    width: 40px;
    margin: 0 5px;
}

h6 {
    text-transform: uppercase;
}

main {
    background-color: white;
    padding: 30px;
    min-height: 100px;
}





.sub-main {
    background-color: rgb(25,188,155);
    min-height: 100px;
    padding: 30px;
}

.contact-me {
    background-color: white;
    min-height: 100px;
    padding: 30px;
}

.btn-contact-me {
    background-color: rgb(25,188,155);
    border-radius: 7px;
    border: none;
    padding: 5px;
    color: white;
    margin-top:60px
}

.about {
    background-color: rgb(59,84,109);
    min-height: 100px;
    padding: 30px;
}
.about p{
    font-size: 14px;
}
footer {
    background-color: rgb(44,63,79);
    min-height: 100px;
    padding: 30px;
}

footer p{
    font-size: 12px;
}

