


body {
    background-color: aqua;
} 

header {
    background-color: rgb(44,63,79);
    min-height: 100px;
    padding: 30px;
}

.jumbo { 
    background-color: rgb(25,188,155);
    min-height: 100px;
    padding: 30px;
}

main {
    background-color: white;
    padding: 30px;
    min-height: 100px;
}

.row {
    background-color: chartreuse;
    }

[class^="col"] {
    background-color: gold;
    border: 1px dashed red;
    }

.sub-main {
    background-color: rgb(25,188,155);
    min-height: 100px;
    padding: 30px;
}

.contact-me {
    background-color: white;
    min-height: 100px;
    padding: 30px;
}

.about {
    background-color: rgb(59,84,109);
    min-height: 100px;
    padding: 30px;
}

footer {
    background-color: rgb(44,63,79);
    min-height: 100px;
    padding: 30px;
}